:root {
  --gray-border: rgb(188, 188, 188);
  --primary-color: #664ce6;
  --white-color: white;
  --text-gray: #9d9d9d;
  --text-gray-dark: rgb(70, 70, 70);
}
.input-container {
  width: 20rem;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

input {
  padding: 10px;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  outline: none;
}
input:focus {
  border: 1px solid var(--primary-color);
}
.title-container {
  text-align: center;
  margin-bottom: 2rem;
}
.title {
  font-size: 1.6rem;
  padding: 10px 0;
  font-weight: bolder;
}
.btn {
  width: 20rem;
  margin-top: 10px;
  padding: 10px 0;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}
.text-gray {
  color: var(--text-gray);
  font-weight: 500;
}
.text-gray-dark {
  color: var(--text-gray-dark);
  font-weight: 800;
  font-size: 14px;
}
.example-input-field {
  border: 1px solid var(--gray-border);
  padding: 0;
  border-radius: 5px;
}

.example-input-field input {
  border: none;
  width: 11rem;
}
.text-example {
  color: rgb(118, 118, 118);
  font-size: 13px;
  padding: 10px;
  background-color: rgb(239, 239, 239);
}
.button-input-container {
  display: flex;
  gap: 1rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 7.5rem;
  gap: 10px;
  border: 1px solid var(--text-gray);
  border-radius: 5px;
}
.button-container:hover {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.button-container img {
  height: 1.5rem;
  width: 1.5rem;
}
.text-bold {
  font-weight: bold;
}
.f-sm {
  font-size: 13px;
}
.check-icon {
  background-color: var(--primary-color);
  height: 1.5rem;
  width: 1.5rem;
  padding: 1rem;
  color: var(--white-color);
  border-radius: 50%;
  margin-top: 1rem;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.4rem;
  }
}
