.stepper {
  padding: 0;
}
ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
li {
  display: flex;
  z-index: 1;
  position: relative;
}
ul li span {
  height: 15px;
  width: 15px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-border);
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}
ul li span::after {
  content: "";
  height: 2px;
  width: 7rem;
  top: 15px;
  background-color: var(--gray-border);
  display: block;
  position: absolute;
  z-index: -1;
  left: -30px;
}
.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
ul li:first-child span::after {
  left: 0;
}
ul li:last-child span::after {
  width: 2rem;
}

.active::after {
  background-color: var(--primary-color);
}
