@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&family=Inter&family=Lobster&family=Mouse+Memoirs&family=Pacifico&family=Sacramento&display=swap");
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  font-family: "Inter", sans-serif;
}
/* title */
.header {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 2rem;
}
.header span {
  font-weight: bold;
  font-size: 2rem;
}
/* Stepper */
.stepper-container {
  margin: 2rem auto;
  width: 25rem;
}
