@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&family=Inter&family=Lobster&family=Mouse+Memoirs&family=Pacifico&family=Sacramento&display=swap");
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  /* font-family: "Alegreya", serif; */
  font-family: "Inter", sans-serif;
  /* font-family: "Lobster", cursive; */
  /* font-family: "Mouse Memoirs", sans-serif; */
  /* font-family: "Pacifico", cursive; */
  /* font-family: "Sacramento", cursive; */
}
.header {
  /* background-color: red; */
  display: flex;
  gap: 5px;
}
.header img {
  width: 2rem;
  /* padding: 1rem; */
}
.header span {
  font-weight: bold;
  font-size: 2rem;
}
.stepper-container {
  /* background-color: red; */
  margin: 2rem auto;
  width: 25rem;
}

/* Input fields */
/* .input-container {
  width: 20rem;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

input {
  padding: 10px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 5px;
}
.title-container {
  text-align: center;
  margin-bottom: 2rem;
}
.title {
  font-size: 2rem;
  padding: 10px 0;
  font-weight: bold;
}
.btn {
  width: 20rem;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #664ce6;
  border: none;
  color: white;
  border-radius: 5px;
}
.text-gray {
  color: rgb(118, 118, 118);
} */
